.displayCounter {
    border: 3px solid green;
    width: 500px;
    margin: 200px 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: seashell;
}

.counterMonitor {
    border: 2px solid green;
    margin: 10px;
    padding: 20px;
    font-size: 100px;
    background-color: green;
    color: white;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}