.settingsMonitor {
    /*пустой блок для связки элементов*/
}
.setMonitorValues {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.valueTitle {
    font-size: 30px;
    padding-right: 20px;
    width: 200px;
}
.valueNumber {
    font-size: 30px;
}
.valueNumber input {
    height: 30px;
    width: 150px;
    padding-left: 5px;
}

.set button {
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    width: 200px;
}
button:disabled {
    background-color: white;
    border: 1px solid green;
    color: black;
}

.settings {
    background-color: gray;
    border: 1px solid red;
}